@inherits LayoutComponentBase
@using QuickClubs.AdminUI.Components.Partials
@inject NotFoundListener nfl;
@inject IHttpContextAccessor httpContextAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <UserStatus />
        </div>

        <article class="content px-4">
            @if (notFound)
            {
                <h1>Not Found</h1>
                <p>We could not find the content you are looking for</p>
            }
            else
            {
                @Body
            }
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool notFound;

    protected override void OnInitialized() => nfl.OnNotFound += SetNotFound;

    void SetNotFound()
    {
        notFound = true;

        StateHasChanged();
        //httpContextAccessor.HttpContext!.Response.StatusCode = 404;
    }
}