@page "/"
@inject AuthenticationStateProvider authenticationStateProvider

@using QuickClubs.AdminUI.Authentication
@using QuickClubs.AdminUI.Components.Partials.Authentication
@using System.Security.Claims

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1>Hello @_userDetails?.FirstName, welcome back!</h1>
        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private UserDetailsFromClaims? _userDetails;

    protected override async Task OnParametersSetAsync()
    {
        _userDetails = await ((AppAuthenticationStateProvider)authenticationStateProvider).GetUserDetailsFromClaimsAsync();
    }
}