@page "/clubs/{Id}"
@using QuickClubs.Contracts.Clubs
@inject IClubService clubService
@inject NotFoundListener nfl

<PageTitle>ClubEdit</PageTitle>
<h1>ClubEdit</h1>

@if (club is not null)
{
    <div>@club.FullName</div>
}
else
{
    <div>wtf?</div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private ClubResponse? club;

    protected override async Task OnInitializedAsync()
    {
        Guid MyId = Guid.Parse(Id);

        var result = await clubService.GetClub(MyId);

        if (result is null)
            nfl.NotifyNotFound();

        club = result;
    }
}
